---
import { Icon } from 'astro-icon';
import { Container, Button } from '@littlesticks/odyssey-theme-components';
import settings from '../../../config/settings.js';
import {ThemeSwitcher} from '../../theme-switcher/theme-switcher';
---

<Container>
	<section class="hero-section__section">
		<div class="hero-section__text">
				<h1>イベントHP</h1>
				<p>
					こちらは株式会社 <a
						href="https://unpacked-inc.com/"
						target="_blank"
						rel="noreferrer">unpacked</a
					> のイベントHPです。
				</p>
				<div class="hero-btns__container">
					<Button href="https://deluxe-seahorse-b5ccff.netlify.app/blog/" customIcon
						>イベントページ
            <Fragment slot="icon">
              <Icon name="ic:baseline-chevron-right"/>
            </Fragment>
            </Button
					>
					<Button href="https://unpacked-inc.com/" unelevated>unpackedHP</Button>
				</div>
        {settings.enableThemeSwitcher && <ThemeSwitcher client:load/>}
		</div>
		<div class="hero-section__image">
				<picture>
					<img
          src="/assets/images/home/小嶋社長.jpg"
          alt="Astro Odyssey"
          id="home-hero-image"
          style="width: 500px; height: auto;"
        />
				</picture>
		</div>
		<div class="hero-section__image">
  <picture>
    <img
      src="/assets/images/home/ABOUT USのコピー (2).jpg"
      alt="Astro Odyssey"
      id="home-hero-image"
      style="width: 1000px; height: auto;"
    />
  </picture>
</div>

<style>
  .hero-section__image img {
    width: 1000px; /* 幅を指定 */
    height: auto; /* 高さを自動調整 */
  }
</style>
		
<div class="hero-section__image">
  <picture>
    <img
      src="/assets/images/home/______350_20230506161955_720.png"
      alt="Astro Odyssey"
      id="home-hero-image"
      style="width: 1000px; height: auto;"
    />
  </picture>
</div>
		
<style>
  .hero-section__image img {
    width: 1000px; /* 幅を指定 */
    height: auto; /* 高さを自動調整 */
  }
</style>


		
	</section>
</Container>

<style>
	.hero-section__section {
		margin: var(--section-margin) auto;
		min-height: clamp(90vh, 100vw, calc(100vh - var(--navbar-height)));
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		gap: 1rem;
	}
	.hero-section__text {
		justify-self: center;
		max-width: 25rem;
	}
	.hero-btns__container {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	.hero-btns__container {
		margin-right: 1rem;
	}
	.hero-section__image {
  display: flex;
  justify-content: center;
}

.hero-section__image img {
  width: 500%;
  height: 500%;
  max-height: 700vh;
  object-fit: cover;
  border-radius: var(--theme-shape-radius);
  margin: auto;
}
	
	@media (max-width: 10000px) {
		.hero-section__section {
			grid-template-columns: 1fr;
		}
	}
</style>
